* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/vars";
@import "partials/header";
@import "partials/layout";

body {
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 2, 71);
    color: white;
}

button {
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    color: white;
    padding: 2.5px 7px;
    border-radius: 50%;
    font-size: 1rem;
    transition: 0.4s;
}

input {
    font-weight: 600;
}

button i {
    pointer-events: none;
    font-weight: bold;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}


.hide {
    display: none;
}